.header
    height: 48px
    padding-top: 16px
    padding-bottom: 16px
    border-bottom: 1px solid #ccc
    display: flex
    justify-content: space-between
    align-items: center

.goods-search
    min-width: 400px
    border-radius: .4rem
    border: .1rem solid #babac0
    padding: 6px 6px

.search-button
    width: 30px
    height: 30px
    box-sizing: border-box
    border: none
    color: white
    background-color: #e31235
    outline: none
    cursor: pointer

.cart-button
    width: 93px
    height: 48px
    outline: none
    border: none
    font-size: 14px
    color: #babac0
    background-color: transparent

    & i
        font-size: 24px
